{% extends "base_login.html" %} {% block content %}

<h1 class="heading5">Express Interest in Volunteer Opportunity</h1>
<br/>
<form>
  <div class="form-group">
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name" />
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="phoneNumberInput">Phone number</label>
    <input
      type="tel"
      maxlength="10"
      class="form-control"
      id="phoneNumber"
      placeholder="xxxxxxxxxx"
    />
  </div>
  <div class="form-group">
    <label for="emailAddressInput">Email address</label>
    <input
      type="email"
      class="form-control"
      id="emailAddressInput"
      placeholder="name@example.com"
    />
  </div>
  <div class="form-group">
    <label for="universityNameInput">University</label>
    <input
      type="text"
      class="form-control"
      id="universityNameInput"
      placeholder="University of Kansas" disabled
    />
  </div>
  <div class="form-group">
    <label for="volunteerPostingInput">Volunteer Posting ID</label>
    <input
      type="number"
      class="form-control"
      id="volunteerPostingInput"
      placeholder="937282" disabled
    />
  </div>
  <button type="button" class="btn btn-outline-primary btn-lg btn-block">
    Apply
  </button>
</form>

{% endblock %}
