{% extends "base_login.html" %} {% block content %}
<h1 class="heading5">
  Select the university you are looking for<br />volunteer opportunities at
</h1>
<div class="home_search_form">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">University:</h5>
      <select
        class="form-select home_search_select"
        aria-label="Default select example"
      >
        <option selected>Select your university</option>
        <option value="1">MIT </option>
        <option value="2">two</option>
        <option value="3">Three</option>
      </select>
      <a href="#" class="btn btn-primary home_search_select">Search</a>
    </div>
  </div>
</div>
{% endblock %}
